<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <title>Assignees</title>
</head>
<body>

<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Assignee WebApp</a>
        </div>
    </div>
</nav>

<div class="container">
    <div class="jumbotron">
        <h1 class="Page Header"> List of Assignees </h1>
        <div class="btn-group btn-group-justified">
            <a href ="/todo/list" class="btn btn-warning"> Return to homepage</a>
            <a href ="/assignees/addassignee" class="btn btn-warning">Add new Colleagues</a>
        </div>
    </div>
</div>

<table width="500" border="1">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>E-mail</th>
    </tr>

    <tr th:each="assignees : ${assignee}">
        <td th:text="${assignees.id}"></td>
        <td th:text="${assignees.getName()}"></td>
        <td th:text="${assignees.getEmail()}"></td>
       <td>
           <form action = "#" th:action="@{/assignees/{id}/delete(id=${assignees.id})}">
               <button type="submit" id="submit">Delete</button>
           </form>
       </td>
        <td>
            <form th:action="@{/assignees/{id}/edit(id=${assignees.id})}">
                <button type="submit" id="submit">Edit</button>
            </form>
        </td>
    </tr>
</table>
</body>
</html>