<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Edit Assignee</title>
</head>
<body>
<h2>Edit an assignee</h2>
<form th:action="@{'/assignees//{id}/edit'(id=${editing.id})}" th:object="${editing}" method="post">
    <input type="hidden" th:field="*{id}"/>
    Name<input type="text" th:field="*{name}"/>
    Email<input type="text" th:field="*{email}"/>
    <button type="submit" value="update">Update</button>
    <a href="/assignees/">cancel</a>
</form>
</body>
</html>