<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
<h1> Todos for today </h1>

<a href ="/todo/create"> Add new Todo</a>
<table width="500" border="1">
    <tr>
        <th>Id</th>
        <th>Todo</th>
        <th>Done</th>
        <th>Urgent</th>
    </tr>
    <tr th:each="todotable : ${todolist}" >
        <th th:text="${todotable.id}"></th>
        <th th:text="${todotable.title}"></th>
        <th th:text="${todotable.isDone()}"></th>
        <th th:text="${todotable.isUrgent()}"></th>
    </tr>
</table>
</body>
</html>