<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <!--<link rel="stylesheet" th:href="@{/style.css}"/>-->
    <title>Title</title>
</head>
<body>

<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Todo WebApp</a>
        </div>
    </div>
</nav>
<div class="container">
    <div class="jumbotron">
    <h1 class="Page Header"> Todos for today </h1>
        <div class="btn-group btn-group-justified">
            <a href ="/todo/create" class="btn btn-warning"> Add new Todo</a>
            <a href ="/assignees/" class="btn btn-warning"> List of Assignees</a>
        </div>
    </div>
</div>

<div class="container">
<table class="table">
    <tr>
        <th>Id</th>
        <th>Todo</th>
        <th>Done</th>
        <th>Urgent</th>
        <th>Created</th>
        <th>Current</th>
        <th></th>
        <th></th>
        <th>Assignee</th>

    </tr>
    <tr th:each="todotable : ${todolist}">
        <td th:text="${todotable.id}"></td>
        <td th:text="${todotable.title}"></td>
        <td> <span
                th:class="${todotable.isDone()} ? 'glyphicon glyphicon-ok' : 'glyphicon glyphicon-remove'">

        </span>
        </td>
        <td><span
                th:class="${todotable.isUrgent()} ? 'glyphicon glyphicon-ok' : 'glyphicon glyphicon-remove'">

        </span>
        </td>
        <td th:text="${todotable.create2}"></td>
        <td th:text="${todotable.current}"></td>
        <td><a th:href="@{/todo/{id}/delete(id=${todotable.id})}" role="button" class="btn btn-danger">Delete</a></td>
        <td><a th:href="'/todo/' + ${todotable.id} + '/edit'" role="button" class="btn btn-primary">Edit</a></td>
        <td th:text="${todotable.getAssignee()} != null ? ${todotable.getAssignee().getName()} : 'No one there'"></td>
    </tr>
</table>
</div>

<form th:action="@{/todo/list}" th:object="${search}" method="get">
    <input type="search" name="search" placeholder="Search" />
    <button type="submit" value="Submit">Initiate!</button>
</form>

</body>
</html>