<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Programmer Fox Club</title>
</head>
<body>
<br>
<a href="/">Information</a>
</br>
<p>
<img th:src="@{/greenfox.png}"/>
<p th:text ="' This is ' +  ${fox.getName()} +'.  Currently living on ' + ${fox.getFood()} +
 ' and on ' + ${fox.getDrink()} + '. He knows ' + ${fox.getTricks().size()} + ' tricks'"></p>
<h1>Known Tricks</h1>
<p th:if = "${fox.getTricks().size() == 0}"> You have no tricks, go home and learn!! </p>
<p th:if = "${fox.getTricks().size() > 0}" th:text = "'This fox knows the next '+ ${fox.getTricks().size()} + 'tricks'"> </p>
</p>
</body>
</html>