<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Assignees</title>
</head>
<body>

<ul>
    <li>Add new Post</li>
</ul>

<h1>Posts</h1>

<table width="500" border="1">
    <tr>
        <th>SCORE</th>
        <th>Actions</th>
        <th>Content</th>
    </tr>

    <tr th:each="posts : ${post}">
        <td th:text="${assignees.id}"></td>
        <td th:text="${assignees.getName()}"></td>
        <td th:text="${assignees.getEmail()}"></td>
        <td>
            <form action = "#" th:action="@{/assignees/{id}/delete(id=${assignees.id})}">
                <button type="submit" id="submit">Delete</button>
            </form>
        </td>
        <td>
            <form th:action="@{/assignees/{id}/edit(id=${assignees.id})}">
                <button type="submit" id="submit">Edit</button>
            </form>
        </td>
    </tr>
</table>
</body>
</html>