<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Assignees</title>
</head>
<body>

<ul>
    <li>Post</li>
</ul>

<a th:href="@{/posts/add}"> Add new Post</a>

<h1>Posts</h1>

<table width="500" border="1">
    <tr>
        <th>id</th>
        <th>SCORE</th>
        <th>Content</th>
    </tr>

    <tr th:each="posts : ${post}">
        <td th:text="${posts.id}"></td>
        <td th:text="${posts.getScore()}"></td>
        <td th:text="${posts.getContent()}"></td>
    </tr>
</table>
</body>
</html>