body
{
    background-image: url("https://i.pinimg.com/236x/47/72/5c/47725c5566d029e996a4c558b57329e5--background-templates-ppt.jpg");
    font-family: 'Merriweather', serif;
}

h1
{
    font-family: Courier New, Courier, monospace
}

table
{
    background-color: aqua;
}

