<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Thymeleaf Exercise #</title>
    <link rel="stylesheet" th:href="@{/style.css}" />
    <meta charset="utf-8" />
</head>
<body>

<h1> Bank Accounts of Pride Lands </h1>

<table width="500" border="1">
    <th>id</th>
    <th>Name </th>
    <th>Balance</th>
    <th>Animal Type</th>
    <th>Good or bad?</th>
    <th>Increase</th>
    <tr th:each ="list:${accounts}"
        th:style= "${list.isKing()}? 'color: red'"  >
        <td align="center" th:text="${listStat.count}"></td>
        <td align="center" th:text="${list.name}"></td>
        <td align="center" th:text="${#numbers.formatDecimal(list.balance, 0, 2) +' Zebra'}"></td>
        <td align="center" th:text="${list.animalType}"></td>
        <!--<td align="center" th:text="(${list.name} == 'Simba')? 'yes' : 'no'"></td>
        <td align="center" th:text="(${list.name} == 'Scar')? 'yes' : 'no'"></td>-->
        <td th:switch="${list.isGoodGuy()}">
            <span th:case="true" th:text= "'Good Guy'"/>
            <span th:case="false" th:text= "'Bad Guy'"/>
        </td>
        <td>
        <form action="#" th:action="@{/balanceup/increase}" method="get">
            <input type="hidden" name="index" th:value="${listStat.index}"/>
            <span><input type="submit" value="Add 10 Zebras" /></span>
        </form>
        </td>
    </tr>
</table>
</body>
</html>