<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Thymeleaf Exercise #</title>
    <link rel="stylesheet" th:href="@{/style.css}" />
    <meta charset="utf-8" />
</head>
<body>
<table>
    <th>Name </th>
    <th>Balance</th>
    <th>Animal Type</th>
    <tr th:each="listelement : ${accounts}">
        <td th:text="' | Name: ' + ${listelement.getName()}" />
        <td th:text="' | Balance: ' + ${#numbers.formatDecimal(listelement.getBalance(),0,2)} + ' Zebra ' " />
        <td th:text="' | Animal type: ' + ${listelement.getAnimalType()}" />
    </tr>
</table>
</body>
</html>